.App {
  width: 1440px;
height: 916px;
top: 8158px;
left: 6461px;
gap: 0px;
opacity: 0px;
background-color:#1C1A1A;
}

.Frame19 {
  width: Fixed (132px)px;
  height: Hug (54px)px;
  top: 830px;
  left: 214px;
  padding: 8px 12px 8px 12px;
  gap: 8px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  background: #302D2D57;
}

.app-store-svgrepo-com1 {
  width: 24px;
height: 24px;
padding: 1.14px 2.92px 1.74px 2.92px;
gap: 0px;
opacity: 0px;
}

.Frame8 {
  width: Hug (38px)px;
height: Hug (56px)px;
gap: 2px;
opacity: 0px;
angle: -90 deg;

}

.p1 {
  width: 56px;
height: 12px;
gap: 0px;
opacity: 0px;
angle: 0 deg;
font-family: Teko;
font-size: 12px;
font-weight: 400;
line-height: 12px;
text-align: left;
background: #F2F2F266;
}

.p2 {
  width: 56px;
height: 24px;
gap: 0px;
opacity: 0px;
angle: 0 deg;
font-family: Teko;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
background: #F2F2F266;
}

.MainText{
  width: 1008px;
height: 303px;
top: 48px;
left: 62px;
gap: 0px;
opacity: 0px;
font-family: Teko;
font-size: 84px;
font-weight: 700;
line-height: 100.8px;
text-align: left;
color: #F2F2F2;
;
}

.spanMainText{
  font-family: Teko;
font-size: 84px;
font-weight: 700;
line-height: 100.8px;
text-align: left;
background: linear-gradient(92.01deg, rgba(124, 111, 207, 0.97) 0%, rgba(116, 174, 170, 0.95) 49.13%, #6FCF97 100%);

}